.app-header {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid rgb(230, 230, 230);
  background-color: rgb(255, 255, 255);
  z-index: 1;
}

.logo {
  width: 240px;
  text-align: center;

  img {
    width: 100px;
    height: 25px;
  }
}

.heder-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 25rem;
}

.searchbar {
  position: relative;
}

.searchbar .mainSearch {
  background: rgb(247, 247, 247);
  padding: 7px 35px;
  font-size: 13px;
}

input#search {
  height: 35px;
}

.form-control {
  height: 35px;
}

.searchbar .searchicon {
  position: absolute;
  top: 7px;
  left: 15px;
  font-size: 13px;
  color: rgb(176, 173, 173);
}

.header-rightside {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 25px;
  color: rgb(101, 100, 100);
  float: right;
}

.dropdown-list {
  width: 100%;
  height: 40px;
  align-content: center;
  color: #ddd9d9;
  gap: 1rem;
}

.line1 {
  height: 35px;
  width: 20px;
  display: flex;
  font-size: 1rem;
  align-items: center;
  gap: 1rem;
}

.proicon {
  font-size: 1.3rem;
}

.notif {
  display: flex;
  height: 45px;
  width: 70px;
  justify-content: space-between;
}

.profile {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: 12px;
  color: black;

  img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }

  .name {
    font-weight: 600;
  }

  .profile-text {
    line-height: 16px;
  }

  button.pro.dropdown-item {
    width: auto;
    font-weight: 400;
  }
}

/* sidebarmain  */

.sidebarmain {
  position: fixed;
  top: 60px;
  width: 215px;
  background-color: rgb(255, 255, 255);
  height: 100%;
  color: rgb(120, 124, 137);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid rgb(237, 237, 237);
  transition: 1s;
  overflow: auto;
}

.sidebarmain .items {
  padding: 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebarmain .items:hover {
  background-color: #f7fbff;
  /* Example color */
  color: #3773e2;
}

.sidebarmain .items.active {
  background-color: #f7fbff;
  color: #3773e2;
}


.w-100 {
  width: 100% !important;
}

.items {
  height: 55px;
  /* left: 20px; */
  display: flex;
  align-items: center;
  text-align: -webkit-center;
  cursor: pointer;
  gap: 20px;
  position: relative;
  transition: 0.5s;
}

.items.active {
  color: rgb(55, 115, 226);
  background-color: rgb(247, 251, 255);
}

.icon {
  font-size: 20px;
}

.text {
  font-size: 15px;
  font-weight: 600;
}

/* layput main  */

.layout {
  overflow: hidden;
  box-sizing: border-box;
  width: calc(100% - 210px);
  height: auto;
  float: right;
  padding: calc(50px + 2rem) 1rem 60px;
  transition: 0.1s ease-out;
  position: relative;
  z-index: -1;
  background: #f8f9fa !important;
}

/* dashboard layout  */

.row {
  display: flex;
  flex-wrap: wrap;
}

.card.p-20 {
  padding: 10px;
}

.d-sm-flex {
  width: 104%;
}

/* dashboard title  */
.TnemY {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(56, 65, 74, 0.15) 0px 1px 2px;
  padding: 10px 1.5rem;
  margin: -23px -1.5rem 1.5rem;
}

h6.sc-fb9f1326-1.izPFRb.mb-sm-0 {
  font-size: 13px;
  font-weight: 700;
}

.card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.ordercard.card {
  padding: 10px;
}

.ordercard {
  position: relative;
  border: 0.5px solid rgb(221, 221, 221);
  margin-top: 30px;
  transition: 0.4s;
  /* min-height: 270px; */
  cursor: pointer;
  background: rgb(247, 251, 255) !important;
  color: rgb(108, 117, 125) !important;

  .carticon {
    position: absolute;
    right: 15px;
    rotate: 20deg;
    transition: 0.4s;
    opacity: 0.6;
    font-size: 40px;
    top: 5px;
  }
}

.ordercard:hover {
  transform: translateY(-10px);
  transition: all 0.5s ease;

  .carticon {
    rotate: 0deg;
  }
}

.sc-epPVmt.bvRKJa.rdt_TableHeader {
  padding: 0;
}

.bRougq {
  flex: 1 0 auto;
  font-weight: 600;
  font-size: 20px;
  font-variant: unicase;
}


.faIsE {
  font-size: 16px;
  font-weight: 600;
  min-height: 40px;
}

.boSfkV {
  font-size: 45px;
  font-weight: 500;
  min-height: 80px;
}

.fTzkJG {
  font-size: 13px;
  font-weight: 600;
}

span.badge.bg-success {
  height: 20px;
  width: 65px;
  font-size: 11px;
}

span.badge.bg-success.\34 {
  height: 20px;
  width: 75px;
  font-size: 11px;
}

span.badge.bg-danger {
  height: 20px;
  width: 75px;
  font-size: 11px;
}

span.badge.bg-dark {
  height: 20px;
  width: 75px;
  font-size: 11px;
}

span.badge.bg-secondary {
  height: 20px;
  width: 75px;
  font-size: 11px;
}

.viewarrow {
  font-size: 25px;
  color: gray;
}

.card {
  margin-bottom: 10px;
}

.tableimg {
  img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
}

.itemimg {
  text-align: left;
  display: flex;
  gap: 15px;

  img {
    height: 40px;
    width: 40px;
  }
}

/* customer layout */
.customer {
  box-sizing: border-box;
  width: calc(100% - 0px);
  transition: 0.1s ease-out;
  position: relative;
  z-index: -1;
}

.card-header {
  display: flex;
  gap: 1rem;
  align-items: center;
  border: 0px;
}

.card-header.custcard {
  background-color: white;
}

.w-25 {
  width: 25% !important;
}

label {
  display: inline-block;
}

.custdrop {
  height: 38px;
  width: 270px;
  font-size: 17px;
  margin: 10px 0 0 0;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}


.custom-dropdown.dropdown {
  height: 22px;
}

button.dropdown-toggle.btn.btn-primary.\35 {
  height: 35px;
  width: 300px;
  padding: 0;
  background-color: black;
}

button.dropdown-item {
  height: 40px;
  width: 300px;
  color: #686868;
  font-weight: 500;
  padding: 0 15px;
}

.click-btn-search {
  height: 25px;
}

button.btn.btn-dark.search {
  width: 100px;
  height: 35px;
  background: black;
}


/* backbtn */
button.btn.btn-dark.\32 {
  height: 30px;
  width: 50px;
  font-size: 13px;
  font-weight: 400;
}

.click-btn {
  height: 30px;
}

/* customer table  */
.custtableimg {
  img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
}

span.badge.bg-success.\32 {
  height: 15px;
  width: 40px;
  font-size: 9px;
}

.actionbtn {
  display: flex;
  text-align: center;
  gap: 6px;
}

button.btn.btn-primary {
  height: 35px;
  width: 35px;
  padding: 0;
}

button.btn.btn-danger {
  height: 35px;
  width: 35px;
  padding: 0;
}

/* edit-btn-page */
.update {
  display: flex;
}

.boxes {
  display: flex;
  gap: 1rem;
  margin: 1.5rem 0;
  border-bottom: 1px solid rgb(231, 231, 231);
}

.details {
  cursor: pointer;
  border: 1px solid rgb(231, 231, 231);
  height: 45px;
  width: 140px;
  text-align: center;
  align-content: center;
  font-size: 14px;
  font-weight: 400;
}

.details.active {
  font-weight: 500;
  border-bottom: 2px solid rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.1) 1px 5px 8px 5px;
}

/* customer details  */
.updateimg {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 255px;
  width: 354px;
  border: 2px dashed rgb(204, 204, 204);
}

.imgbox {
  width: 354px;
  height: 250px;
  position: relative;
}

.imgitem {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  font-size: 16px;
  color: rgb(119, 119, 119);

  img {
    height: 100%;
    width: 100%;

  }
}

.clsbtn {
  height: 30px;
  width: 40px;
  background-color: black;
  color: white;
  text-align: center;
  align-content: center;
  border-radius: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

.col-xl-6 {
  flex: 0 0 auto;
  width: 50%;
}

.form-control:disabled {
  background-color: #e9ecef;
  opacity: 1;
}

.erroricon {
  font-size: 100px;
  color: orange;
  text-align: center;
  align-content: center;
}

.delettoggle {
  align-content: center;
  height: 150px;
}

.suretext {
  height: 70px;
  text-align: center;
  color: black;
}

.changetext {
  color: #6b6a6a;
  font-size: 17px;
}

/* itemspage */
.verifybtn {
  height: 30px;
  width: 40px;
  border-radius: 5px;
  text-align: center;
}

button.btn.btn-success {
  height: 28px;
  width: 38px;
  display: flex;
  align-items: center;
  color: white;
}

.icon-park:correct {
  color: white;
}

/* musicplayerpage */
.musicimg {
  img {
    height: 40px;
    width: 50px;
  }
}

button.btn.btn-info {
  height: 30px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 13px;
  background-color: #70ace8;
  border: 0;
}

.dUEYLC {
  border: 0px;
  padding: 10px 15px;
  background: rgb(112, 172, 232);
  border-radius: 10px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

/* SiteSettingpage  */
.setting-manu {
  display: flex;
  gap: 2rem;
  padding: 10px 0 30px 10px;
}

.settingitems {
  height: 40px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}

.settingitems.active {
  border-bottom: 2px solid rgb(0, 0, 0);
}

.jdge {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0px;
  padding: 1rem;
}

.siteimg {
  height: 220px;
  width: 354px;
  border: 2px dashed rgb(204, 204, 204);
}

.siteimgbox {
  width: 350px;
  height: 215px;
  position: relative;
}

/* emailtemplatepage */
span.badge.bg-danger.\32 {
  height: 15px;
  width: 40px;
  font-size: 9px;
}

.add-email {
  text-align: right;
}

button.btn.btn-dark.\33 {
  font-size: 12px;
}

/* totalpricepage */
.gHyZOj .userAvtar {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 15px;
}

/* modal page  */
button.btn.btn-danger.\32 {
  height: 38px;
  width: 75px;
}